:root {
  --header-font: "Noto Serif Display", serif;
  --default-font: "Source Sans Pro", sans-serif;
  --primary-color: #153d66;
  --default-text-color: #c7ebf9;
  --accent-color: #0ebdbd;
  --dark-accent-color: #0a0a1b;
}
body {
  background: #37434c;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font);
  font-weight: 300;
  font-style: italic;
  color: rgb(14, 14, 52);
}

p {
  font-family: var(--default-font);
  color: var(--default-text-color);
}
.bg {
  background: var(--dark-accent-color);
  padding: 15px 0;
}

.name {
  color:var(--default-text-color)
}
nav li {
  text-decoration: none;
  display: inline;
  margin-right: 20px;
  line-height: 42px;
}
nav li a {
  text-decoration: none;
  color: var(--default-text-color);
}
nav li:hover a {
  color: var(--dark-accent-color);
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li.active a {
  color: var(--accent-color);
}



img {
  max-width: 100%;
  margin: auto;
}

.greeting {
  background: var(--dark-accent-color);
  padding: 50px 20px;
  border: 20px;
  text-align: center;
}

.greeting p {
  font-weight: 100;
  font-size:24px;
}
.btn-default {
  background: var(--dark-accent-color);
  color: var(--default-text-color);
  border-radius: 20px;

}

.btn-default:hover{
  color: var(--accent-color);
}

hr{
  margin: 0;
  color: var(--accent-color)
}



.selfie {
  max-width: 200px;
}

.about-content {
  color: var(--default-text-color);
  font-size: 15px;
  line-height: 30px;
  font-weight: 150;
}

.quote {
  color: var(--dark-accent-color);
}

.quote-author {
  color: var(--accent-color)
}

footer{
margin-top: 40px;
}

footer hr {
  color: var(--accent-color);
  margin-right: 150px;
  margin-left: 150px;
}

footer .container {
  border-radius: 20px;
}

.social-links {
  display: inline;
  font-size: 25px;
  background-color: var(--accent-background-color);
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  line-height: 20.7px;
  text-align: Center;
}

.social-links a {
  color: var(--default-text-color);
}

.social-links:hover a {
  font-size: 18px;
  background: var(--primary-color);
  border-radius: 50%;
  padding: 10px;
  margin: 0;
  transition: 150ms all ease-in-out;
}


.about-me-content {
  height: 900px;
}
.about-me-content h5 {
  font-style: normal;
  color: var(--accent-color);
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
}
.about-me-content h4 {
  font-size: 64px;
  line-height: 75px;
}


.about-info {
  margin: 40px;
  font-style: normal;
  font-weight: lighter;
  overflow-y: auto;
}



.certs {
  color:var(--default-text-color)
}
.image-container{
  max-width: 340px;
}
 span {
   font-size: 12px;
 }
 .shecodes{
   text-decoration: none;
   color:var(--accent-color)
 }

 
 .image-row{
  flex-wrap: nowrap;
  overflow-x: scroll;
 }

.work-header {
  font-size: 36px;
  margin-left: 100px;
  margin-top: 30px;
  font-weight: 400;
  font-family: var(--default-font);
  font-style: normal;
  color:var(--default-text-color)

}
.work-content {
  text-align: center;
}

.work-content:hover {
  transform: scale(1.1);
}
.work-content h5 {
  font-style: normal;
  color: var(--accent-color);
  line-height: 15px;
  font-size: 20px;
}
.work-content p {
  font-size: 15px;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 36, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.react {
  font-size: 10px;

  font-weight:200;
}
.react-link {
  color: var(--primary-color);
  text-decoration: none;
}
.react-link:hover {
  color: var(--light-accent-color);
}

.contact {
  margin: 40px;
  text-align: center;
  padding: 60px;
}
.contact h3 {
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: var(--accent-color);
  font-size: 700;
}
.contact a {
  color: var(--default-text-color);
  text-decoration: none;
  font-weight: lighter;
  font-size: 18px;
}
.contact p {
  font-weight: lighter;
}
.contact-link:hover a {
  color: var(--primary-color);
}

@media (max-width: 960px) {
  .greeting {
    padding: 20px 50px;
  }
  .greeting h1 {
    font-size: 36px;
    line-height: 50px;
  }
  .greeting p {
    font-size: 24px;
  }
  .greeting h3 {
    font-size: 20px;
  }
  .feature {
    font-size: 15px;
  }
  .about-info {
    text-align: center;
  }
  .about-info h1 {
    font-size: 15px;
  }
  .work-header {
    font-size: 40px;
    font-weight: 700;
  }
  .work-content {
    margin-bottom: 15px;
  }
  .contact {
    font-size: 25px;
  }
  .contact a {
    font-size: 25px;
  }
  .contact h1 {
    font-size: 36px;
  }
  .emblem {
    padding: 5px;
  }
}
