:root {
  --header-font: "Noto Serif Display", serif;
  --default-font: "Source Sans Pro", sans-serif;
  --primary-color: #7316ec;
  --default-text-color: #f9f7fe;
  --light-accent-color: #d7a1fa;
  --accent-color: #74b999;
  --dark-accent-color: rgba(89, 20, 248, 0.192);
}
body {
  background: black;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font);
  font-weight: 300;
  font-style: italic;
  color: var(--primary-color);
}

p {
  font-family: var(--default-font);
  color: var(--default-text-color);
}
nav {
  background: var(--dark-accent-color);
  padding: 15px 0;
}
nav li {
  text-decoration: none;
  display: inline;
  margin-right: 20px;
  line-height: 42px;
}
nav li a {
  text-decoration: none;
  color: var(--default-text-color);
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li.active a {
  color: var(--accent-color);
}

img {
  max-width: 100%;
}

.emblem {
  color: var(--primary-color);
  font-size: 18px;
  background: var(--default-text-color);
  border-radius: 50%;
  padding: 10px;
  font-family: var(--header-font);

  font-style: italic;
}

.greeting {
  background: var(--dark-accent-color);
  padding: 130px 40px;
  border: 20px;
  text-align: center;
}
.greeting p {
  font-size: 36px;
  line-height: 36px;
}
.greeting h1 {
  font-size: 64px;
  font-style: italic;
  font-weight: 700;
  line-height: 100px;
}
.greeting h3 {
  color: var(--accent-color);
  font-size: 18px;
  line-height: 24px;
  font-family: var(--default-font);
  font-style: normal;
}
.btn-default {
  background: var(--primary-color);
  color: var(--default-text-color);
}

.btn-bright {
  background: var(--default-text-color);
  border-radius: 40px;
}
.btn-bright a {
  color: var(--dark-accent-color);
}
.btn-bright:hover {
  color: var(--primary-color);
  transition: 150ms all ease-in-out;
}

.index-img:hover {
  border: var(--accent-color) 2px solid;
  border-radius: 10px;
  transition: 150ms all ease-in-out;
}

hr {
  color: var(--accent-color);
  margin-right: 150px;
  margin-left: 150px;
}
footer .container {
  border-radius: 20px;
}
.social-links {
  display: inline;
  font-size: 25px;
  background-color: var(--accent-background-color);
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  line-height: 20.7px;
  text-align: Center;
}

.social-links a {
  color: var(--default-text-color);
}

.social-links:hover a {
  font-size: 18px;
  background: var(--primary-color);
  border-radius: 50%;
  padding: 10px;
  margin: 0;
  transition: 150ms all ease-in-out;
}
.about-me-content {
  height: 900px;
}
.about-me-content h5 {
  font-style: normal;
  color: var(--accent-color);
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
}
.about-me-content h4 {
  font-size: 64px;
  line-height: 75px;
}

.self {
  background: var(--dark-accent-color);
  padding: 70px;
}
.about-info {
  margin: 40px;
  font-style: normal;
  font-weight: lighter;
}
.about-info p {
  font-size: 18px;
  line-height: 25px;
}
